{% extends "layout.html" %}
{% block content %}
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> -->
    <div class="bg"></div>

    <!-- Search form -->
    <div class="bg-img centered">
        <form method="POST" action="{{ url_for('results') }}" class="container-centered">
            {{ form.hidden_tag() }}

            <fieldset class="form-group">
                <div class="form-group">
                        {{ form.location.label(class="form-control-label") }}

                        {% if  form.location.errors %}
                            {{ form.location(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.location.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                    {% else %}
                        {{ form.location(class="form-control form-control-lg") }}
                    {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class='btn btn-outline-info') }}
                </div>
        </form>
    </div>
    <!-- <div id="loading" style="display:none;"><img src="/static/loading.gif" alt="" />Loading . . .</div> -->
</body>
{% endblock content %}