{% extends "layout.html" %}
{% block content %}
<div class="navbar">
    <a href="{{ url_for('home') }}">Search</a>
</div>

<select onchange="location = this.value;">
    <option value="">Sort By</option>
    <option value="{{ url_for('rate_high') }}">Rating (High to Low)</option>
    <option value="{{ url_for('rate_low') }}">Rating (Low to High)</option>
    <option value="{{ url_for('time_fast') }}">Time (Fast to Slow)</option>
    <option value="{{ url_for('time_slow') }}">Time (Slow to Fast)</option>
</select>

    <h1>Parks near {{ origin }} </h1>
    <div class="results">
    {% for park in results.items %}
        <h2>{{ park['name'] }}</h2>
        <li>Address: {{ park['address'] }}</li>
        <li>Rating: {{ park['rating'] }}</li>
        <li>Distance: {{ park['distance'] }}</li>
        <li>It will take approximately {{ park['duration'] }} to get there.</li>
        <img src="{{ park['photo'] }}" alt="{{ park['name'] }}">
        <br>
        <br>
    </div>
    {% endfor %}
    {% for page_num in results.iter_pages() %}
        {% if page_num %}
            <a class="btn" href="{{ url_for('rate_high', page=page_num) }}">{{ page_num }}</a>
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}