{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='results.css') }}">

<div class="bg"></div>
<div class="bg-img">

    <nav class="navbar-default navbar">
        <a href="{{ url_for('home') }}">Search</a>
        <select onchange="location = this.value;">
            <option value="">Sort By</option>
            <option value="{{ url_for('rate_high') }}">Rating (High to Low)</option>
            <option value="{{ url_for('rate_low') }}">Rating (Low to High)</option>
            <option value="{{ url_for('time_fast') }}">Time (Fast to Slow)</option>
            <option value="{{ url_for('time_slow') }}">Time (Slow to Fast)</option>
    </select>
    </nav>
</div>

</br>
</br>
</br>

<div class="wrapper">
    <div class="header">
        <div class="content">
            <h1>Parks near {{ origin }} </h1>
        </div>
    </div>
</div>

<div align="center" class="container">
        {% for park in results.items %}
        <div class="d-flex flex-column my-flex-container-column">
                <div class='p-2 my-flex-item'>{{ park['name'] }}</div>
                <div class='p-2 my-flex-item-2'>Address: {{ park['address'] }}</div>
                <div class='p-2 my-flex-item'>Rating: {{ park['rating'] }}</div>
                <div class='p-2 my-flex-item'>Distance: {{ park['distance'] }}</div>
                <div class='p-2 my-flex-item'>It will take approximately {{ park['duration'] }} to get there.</div>
                <!-- <img src="{{ park['photo'] }}" alt="{{ park['name'] }}">  -->
        </div>

        <br>
        <br>
        <br>

        {% endfor %}
        <nav aria-label="...">
            <ul class="pagination pagination-sm justify-content-center">    
            {% for page_num in results.iter_pages() %}
                {% if page_num %}
                    {% if results.page == page_num %}
                        <li class="page-item active"><a class="page-link" href="{{ url_for('rate_high', page=page_num) }}">{{ page_num }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('rate_high', page=page_num) }}">{{ page_num }}</a></li>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
        </nav>
        </div>
</div>
</div>
{% endblock content %}