body{
    /* The image used */
    background-image: url("http://paperlief.com/images/dark-blue-gradient-wallpaper-4.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.navbar-default {
    background: none;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;;
    margin-left: -1px;
    line-height: 1.25;
    color: rgb(187, 177, 38);
    background-color: none;
   
  }
   
  .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: rgb(233, 168, 84);
    border-color: none;
  }
   
  .page-link:focus, .page-link:hover {
    color: #fff;
    text-decoration: underline;
    background-color: rgb(233, 168, 84);
    border-color: none;
  }
   
.wrapper {
    /** Top padding so that initially, the content is below the header **/
    padding-top: 100px;
}

.header {
    height: 100px;
    width: 800px; /** Use 100% to fill the width of the page **/
    font-family: monospace;
    font-size: 14px;
    position: fixed;
    top: 5%;
    left: 2%;
    right: 0;
    margin: 0 auto;
    color: white;
    background-color: rgba(0,0,0,0);
}

  /*  LAYOUT */
  figcaption {
    caption-side: bottom;
    color: white;
  }
  
  .container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
  }

  .responsive-image {
    max-width: 100%;
    height: 400px;
    margin-top: -73px;
  }

  .cell img {
    display: block;
  }

  /* tablet screen */
  @media screen and (min-width: 600px) {
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .cell {
      width: calc(50% - 2rem);
    }
  }

  /* desktop screen */
  @media screen and (min-width: 1000px) {
    .cell {
      width:(calc(100% / 3) - 2rem);
    }
  }

  .cell {
    margin: 1rem;
  }

  /*  make image opaque on hover (smooth) */
  img {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
  }
  
  img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
  }