{% extends "layout.html" %}
{% block content %}
    <h1>Skateparks Near You</h1>

    <!-- Search form -->
    <div class="content-section">
        <form method="POST" action="{{ url_for('results') }}">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Search Below</legend>
                <div class="form-group">
                        {{ form.location.label(class="form-control-label") }}

                        {% if  form.location.errors %}
                            {{ form.location(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.location.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                    {% else %}
                        {{ form.location(class="form-control form-control-lg") }}
                    {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class='btn btn-outline-info')}}
                    </div>
    </form>
</body>
{% endblock content %}