{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <div class="bg"></div>
    <!-- Search form -->
    <div class="bg-img centered">
        <form method="POST" action="{{ url_for('main.results2') }}" class="container-centered">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                        {{ form.location.label(class="form-control-label") }}
                        {% if  form.location.errors %}
                            {{ form.location(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.location.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                    {% else %}
                        {{ form.location(class="form-control form-control-lg") }}
                    {% endif %}
                    </div>
                    <div class="form-group" style="color:white">
                        {{ form.radius.label(class="form-control-label") }}
                        {% if  form.radius.errors %}
                            {{ form.radius(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.radius.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                    {% else %}
                        {{ form.radius(class="form-control form-control-lg") }}
                    {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class='btn btn-outline-info') }}
                </div>
        </form>
    </div>
</body>
{% endblock content %}