body{
    /* The image used */
    background-image: url("https://c.pxhere.com/photos/2e/3e/concrete_wall_grunge_concrete_wall_cement_grey_room_construction-498593.jpg!d");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
  }

.navbar-default {
    background: none;
}

.page-link {
    color: #fff;
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;;
    margin-left: -1px;
    line-height: 1.25;
    color: rgb(133, 190, 255);
    background-color: none;
  }

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: rgb(133, 190, 255);
}
   
.page-link:focus, .page-link:hover {
    color: #fff;
    text-decoration: underline;
    background-color: rgb(133, 190, 255);
}

.wrapper {
    /** Top padding so that initially, the content is below the header **/
    padding-top: 5px;
}

h1 {
    color: rgb(0, 29, 92);
    font-family: 'Alegreya', serif;
}

.header {
    height: 40px;
    width: 800px; /** Use 100% to fill the width of the page **/
    position: absolute;
    top: 5%;
    left: 2%;
    right: 0;
    margin: 0 auto;
    color: rgb(0, 29, 92);
    background-color: rgba(0,0,0,0);
}

  /*  LAYOUT */
figcaption {
    caption-side: bottom;
    color: rgb(0, 29, 92);
    font-family: 'Alegreya', serif;
    font-size: 17px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
}

.responsive-image {
    max-width: 100%;
    height: 390px;
    margin-top: -73px;
}

.cell img {
    display: block;
    margin-top: 2px;
}


  /* tablet screen */
  @media screen and (min-width: 600px) {
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .cell {
      width: calc(50% - 2rem);
    }
  }

  /* desktop screen */
  @media screen and (min-width: 1000px) {
    .cell {
      width:(calc(100% / 3) - 2rem);
    }
  }

  .cell {
    margin: 1rem;
  }

  /*  make image opaque on hover (smooth) */
  img {
    opacity: 0.75;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
  }
  
  img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
  }